body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #B0DBFF;
}

a {
  color: #00B7FF;
}

#banner {
  font-size: 5em;
  color: white;
  background-color: #325d81;
  width: 75%;
  border: 30px ridge steelblue;
  border-radius: 30px;
  text-align: center;
  margin: 50px;
  margin-bottom: 0px;
}

.event {
  display: flex;
  flex-direction: column;

  border: 1px black solid;
}

.dateTime {
  display: flex;
  flex-direction: row;
}

#menu {
  width: 600px;
  display: flex;
  justify-content: space-around;

  border-radius: 0 0 10px 10px;
  border: 1px solid black;
  border-top: none;
  
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #8DAFCC;
}

#searchBox {
  width: 600px;
  display: flex;
  justify-content: space-around;
  
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #8DAFCC;
}

.searchBox {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 0px;
}

.searchField {
  text-align: center;
}

.menuButton {
  border: 1px solid steelblue;
  border-radius: 10px;
  background-color: #325d81;
  color: white;
}

.pad3 {
  padding-left: 3px;
  padding-right: 3px;
}

/* Event search result styling************************************************/
#results {
  display: flex;
  flex-wrap: wrap;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border: 1px black solid;
  border-radius: 10px;
  
  margin: 15px;
  background-color: steelblue;
}

.eventImgAndSpacetimeCoords {
  display: flex;
  flex-direction: row;
}

.eventSpacetimeCoords {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  
  margin: 10px;
}

.eventImage {
  height: 300px;
  width: 300px;
  border: 1px black solid;
  margin: 10px;
}

.eventLabel {
  color: white;
}

.eventDescription {
  background-color: white;
}

.roundedBorder {
  border: 1px solid black;
  border-radius: 10px;
}

/*End of event search result styling******************************************/

/*Add new event styling*******************************************************/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  /*cursor: pointer;*/
}

#addNew {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: steelblue;
  padding: 10px;
  border-width: 2px;
  border-color: #B0DBFF;
}

#addNewEventTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#spacetimeCoords {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

#inputFields {
  display: flex;
  flex-direction: row;
}

#imagePreview {
  height: 300px;
  width: 300px;
  border: 1px black solid;
}

#closeAddNew {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
}

#submitEventBtn {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  color: white;
  background-color: green;
}

#imgPath {
  width: 300px;
  margin-top: 10px;
}

#imageChooser {
  display: flex;
  flex-direction: column;
}

#newEventBanner {
  text-align: center;
}

/* end of Add new event styling***********************************************/