<!DOCTYPE html>
<!--<html>-->

<!--<head>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>-->
<!--    <script src="javascripts/events.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">-->
<!--    <meta charset="utf-8">-->
<!--</head>-->

<!--<body>-->
<!--    <div ng-app='app' ng-controller='mainCtrl'>-->


<!--        <form id='inputform' name='eventForm' ng-submit='addNew()'>-->
<!--            <input type='text' placeholder='Title' ng-model='title'>-->
<!--            <input type='text' placeholder='Address' ng-model='address'>-->
<!--            <input type='text' placeholder='Date' ng-model='date'>-->
<!--            <input type='text' placeholder='Description' ng-model='descrip'>-->
<!--            <button type='submit'>Add Event</button>-->
<!--        </form>-->

<!--        <ul class='User-list'>-->
<!--            <li ng-repeat='event in events'>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

<!--</body>-->

<!--</html>-->
<!------------------------------------------------>

<html>

<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="javascripts/events.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta charset="utf-8">
</head>

<body ng-app="app" ng-controller="mainCtrl" class="ng-scope">
    <!--<div ng-app='app' ng-controller='mainCtrl'>-->


    <!--    <form id='inputform' name='eventForm' ng-submit='addNew()'>-->
    <!--        <input type='text' placeholder='Title' ng-model='title'>-->
    <!--        <input type='text' placeholder='Address' ng-model='address'>-->
    <!--        <input type='text' placeholder='Date' ng-model='date'>-->
    <!--        <input type='text' placeholder='Description' ng-model='descrip'>-->
    <!--        <button type='submit'>Add Event</button>-->
    <!--    </form>-->

    <!--    <ul class='User-list'>-->
    <!--        <li ng-repeat='event in events'>-->
    <!--        </li>-->
    <!--    </ul>-->
    <!--</div>-->

    <div id="banner">What's Shakin'</div>
    <div id="menu">
        <button id="showAddNew" ng-click="showAddNew(true)">Create Event</button>
    </div>
    <div id="searchBox">
        <p>Lorem ipsum</p>
    </div>
    <div id="results">
        <!-- ngRepeat: event in events | orderBy:'title' -->
    </div>

    <div id="overlay" style="display: none;">
        <div id="addNew">
            <form id="inputform" name="eventForm" ng-submit="addNew()" class="ng-valid ng-dirty ng-valid-parse ng-submitted" _lpchecked="1">
                <input type="text" placeholder="Title" ng-model="title" class="ng-valid ng-touched ng-dirty ng-valid-parse">
                <input type="text" placeholder="Address" ng-model="address" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                <input type="text" placeholder="Date" ng-model="date" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                <input type="text" placeholder="Description" ng-model="descrip" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                <button type="submit">Add Event</button>
            </form>
        </div>
    </div>




</body>

</html>
