<!DOCTYPE html>

<html>

<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="javascripts/events.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta charset="utf-8">
</head>

<body ng-app="app" ng-controller="mainCtrl" class="ng-scope">

    <div id="banner">What's Shakin'</div>
    
    <div id="searchBox">
        <div id="titleSearchBox">
            <form ng-submit="searchByTitle()" class="searchField">
                <input type="text" placeholder="Title" ng-model="searchTitle">
                <button type="submit">Search</button>
            </form>
        </div>
        <div id="dateSearchBox">
            <form ng-submit="searchByDate()" class="searchField">
                <input type="text" placeholder="mm/dd/yyyy" id="dateSearchInput" ng-model="searchDate">
                <button type="submit">Search</button>
            </form>
        </div>
        <div id="addressSearchBox">
            <form ng-submit="searchByAddress()" class="searchField">
                <input type="text" placeholder="Address" ng-model="searchAddress">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    
    <div id="menu">
        <button id="showAddNew" ng-click="showAddNew(true)">Create Event</button>
        <button id="search" ng-click="toggleSearch()">Show Search</button>
        <p id="searchCriteria">Current Search: {{currentSearchString}}</p>
    </div>
    
    <div id="results">
        <!--ng-repeat="event in events | orderBy:'title'" event='event'-->
        <event-field ></event-field>
    </div>


    <div id="overlay">
        <div id="addNew">
            <div id="addNewEventTitle">
                <h2>Create New Event</h2>
                <button id="closeAddNew" ng-click="showAddNew(false)">&times;</button>
            </div>
            <form id="newEventForm" ng-submit="addNew()">
                <div id="inputFields">
                    <img id="imagePreview" src="images/add-picture.jpg" />
                    <input type="file" id="imgFile" accept="image/*" onchange="loadImage(event)" ng-model="imgPath">
                    <div id="spacetimeCoords">
                        <input type="text" placeholder="Title" ng-model="title">
                        <input type="text" placeholder="Description" ng-model="descrip">
                        <input type="text" placeholder="Address" ng-model="address">
                        <label for="newEventDate">Date</label>
                        <input type="text" placeholder="mm/dd/yyyy" ng-model="date" id="newEventDate">
                        
                        <label for="newEventStartTime">Start Time</label>
                        <input type="text" placeholder="Start Time" ng-model="startTime" id="newEventStartTime">
                        <label for="newEventEndTime">End Time</label>
                        <input type="text" placeholder="End Time" ng-model="endTime" id="newEventEndTime">
                    </div>
                </div>
                <button id="submitEventBtn" type="submit">Add Event</button>
            </form>
        </div>
    </div>


</body>

</html>
